NEXT_PUBLIC_LIFF_ID=
LINE_CHANNEL_ID=
LINE_CHANNEL_SECRET=
LINE_MESSAGING_ACCESS_TOKEN=
SESSION_SECRET=
NEXT_PUBLIC_SITE_URL=http://localhost:3000
LINE_PAY_CHANNEL_ID=
LINE_PAY_CHANNEL_SECRET=
CREDIT_CARD_PROVIDER=
CREDIT_CARD_MERCHANT_ID=
CREDIT_CARD_SECRET=
PAYMENT_MODE=sandbox
GOOGLE_CALENDAR_ID=
GOOGLE_SERVICE_ACCOUNT_JSON=
JOB_SECRET=
DEV_FAKE_LOGIN=1
